<%= render "shared/header" %>

  <div class='item-contents'>
    <div class="subtitle" >
     <%= @nickname %>さんの商品一覧
    </div>
    
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" if item.image.attached?%>

          <% if item.order != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %> 

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.title %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.post_price.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
<% if @items.blank? then %>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
    </div>

<%= render "shared/footer" %>
